<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>You goofed!</title>
    <meta name="description" content="It's definitely your fault."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#c7a140">
    <link rel="stylesheet" href="/response.css">
    <style>
      body {
        background-color: #c7a140;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>400 - Bad request</h1>
      <p><%= error %></p>
    </div>
  </body>
</html>
