<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>What?</title>
    <meta name="description" content="You tried to request <%= url %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#d26a20">
    <link rel="stylesheet" href="/response.css">
    <style>
      body {
        background-color: #d26a20;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>404 - Not found</h1>
      <p><%= url %> doesn't exist here.</p>
    </div>
  </body>
</html>
