<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>I'm a little teapot</title>
    <meta name="description" content="Short and stout"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#9dd1d4">
    <link rel="stylesheet" href="/response.css">
    <style>
      body {
        background-color: #9dd1d4;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>418 - I'm a teapot</h1>
      <p>I'm a little teapot,
Short and stout,
Here is my handle
Here is my spout
When I get all steamed up,
Hear me shout,
Tip me over and pour me out!</p>
    </div>
  </body>
</html>
