<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>The server goofed!</title>
    <meta name="description" content="Definitely not my fault though!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#c14141">
    <link rel="stylesheet" href="/response.css">
    <style>
      body {
        background-color: #c14141;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>500 - Internal server wucky</h1>
      <p><%= error %></p>
    </div>
  </body>
</html>
