<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Server index page</title>
    <meta name="description" content="Back end for ovine projects"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#3e9224">
    <link rel="stylesheet" href="/response.css">
    <style>
      body {
        background-color: #3e9224;
      }
      a {
        color: #ffe500;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>200 - Ok.</h1>
      <p>The server seems to work!</p>
      <p>This site is used as a backend for <a href="https://sheeptester.github.io/">my projects</a>. It's self-hosted and <a href="https://github.com/SheepTester/web-server">open sourced</a>.</p>
    </div>
  </body>
</html>
