<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Server index page</title>
    <meta name="description" content="Definitely not my fault though!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#3e9224">
    <link rel="stylesheet" href="/response.css">
    <style>
      body {
        background-color: #3e9224;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>200 - Ok.</h1>
      <p>The server seems to work!</p>
    </div>
  </body>
</html>
